config VIDEO_OMAP_VIDEOLIB
	tristate "OMAP Video out library"
	depends on VIDEO_OMAP3
	default VIDEO_OMAP3

config VIDEO_OMAP_VIDEOOUT
	tristate "OMAP Video out driver"
	select VIDEOBUF_DMA_SG
	select VIDEOBUF_GEN
	depends on VIDEO_OMAP3
	default VIDEO_OMAP3

config VID1_OMAP_ON_TV
	bool "Default Overlay manager for Video1 pipeline will be TV"
	depends on VIDEO_OMAP_VIDEOOUT
	default n

config VID2_OMAP_ON_TV
	bool "Default Overlay manager for Video2 pipeline will be TV"
	depends on VIDEO_OMAP_VIDEOOUT
	default n

